//! **************************************************************************
// Written by: Map K.39 on Sun Dec 09 14:25:28 2012
//! **************************************************************************

SCHEMATIC START;
NET "clock_27mhz_IBUFG1" BEL "clock_27mhz_IBUFG_BUFG.GCLKMUX" USELOCALCONNECT;
NET "ac97_bit_clock_BUFGP/IBUFG" BEL "ac97_bit_clock_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

